:root{
    --gray: #f3eded;
}


.container{
    background-color: var(--gray);
}
.container-principal{
    min-height: 1024px;
}

i.lead{
    font-size: 1.8rem;
}

a.color-red{
    color: red;
    &:hover{
        color: rgb(240, 17, 17);
    }
}

li.list-li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.navbar-collapse{
    display: flex;
    justify-content: center;
    align-items: center;
}

button.btn{
    background-color: rgb(182, 8, 109);
    color: white;
    &:hover{
        color:#ea9b0a;
    }
}

ul.dropdown-menu{
    margin-left: -120px;
}

img{
    width: 500px;
    height: 400;
    
}